.user-edit {
    padding      : 30px 48px;
    margin-top   : 125px;
    margin-bottom: 30px;
    position     : relative;
    z-index      : 0;

    form {
        font-family: noto-sans-500;
        font-size  : 14px;
        line-height: 18px;
    }

    label:not(.img-label) {
        color        : #4F4F4F;
        margin-bottom: 4px;
    }

    .img-label {
        color: #828282;
    }

    .profile-sub {
        margin-bottom: 25px;
    }


    input,
    textarea {
        color              : #828282;
        // color        : #BDBDBD;
        padding            : 12px;
        border             : 1px solid #828282;
        border-radius      : 12px;
        resize             : none;
        // margin-bottom   : 24px;
        width              : 415px;
    }

    label {
        font-size: 13px;
    }

    textarea {
        margin-bottom: 24px;
    }

    button {
        height          : 38px;
        // background   : #2F80ED;
        background      : #3f51b5;
        font-size    : 16px;
        line-height  : 22px;
        border-radius: 8px;
        width        : 82px;
        border       : none;
        font-weight  : 500;
        color        : #FFFFFF;
        padding      : 8px 0px;
        &:disabled {
            background      : #7b88d6;
            cursor : auto;
        }
    }

    .error-con {
        width: 100%;
    }
}

.cover-bg {
    width      : 100%;
    position   : fixed;
    top        : 0;
    right      : 0;
    z-index    : -2;
    opacity    : 80%;
    // height  : 90px;
}

.back {
    font-size  : 18px;
    line-height: 25px;
    position   : relative;
    top        : -70px;
    left       : -40px;

    // a {
        // color: #3f51b5;
        
    // }

    span {
        margin-right: 14px;
    }
}

@media (max-width: $narrow-breakpoint) {
    .user-edit {
        margin-top: 115px;

        .back {
            left: 0;
            top : -35px;
        }
    }

    .cover-bg {
        height: 240px;
    }

}

@media (max-width: $mobile-breakpoint) {
    .user-edit {
        padding: 30px 23px;

        input,
        textarea {
            width: 100%;
        }

    }

    .cover-bg {
        width : 150%;
        // height: auto;
    }
}