.user-info {

    margin-bottom: 30px;
    margin-top   : 100px;

    .frame {

        background-color: #f9f9f9;

        &.first {
            margin-bottom: 15px;
        }

        >*:not(:last-child) {
            border-bottom: 1px solid #D3D3D3;
        }

    }


    .title {
        font-size    : 36px;
        line-height  : 49px;
        margin-bottom: 8px;
    }

    .subtitle {
        font-family  : noto-sans-300;
        font-size    : 18px;
        line-height  : 25px;
        margin-bottom: 44px;
    }

    .profile-container {
        // height: 150px;
        padding: 30px 0;

        div:first-child {
            margin-left: 49px;
        }

        .name {
            font-size     : 24px;
            font-family   : noto-sans-500;
            // margin-left: 88px;
        }

        img {
            width           : 150px;
            height          : 150px;
            // margin       : 15px 0;
            border-radius   : 150px;
        }

        a {
            align-self  : flex-start;
            margin-right: 30px;
        }
    }

    .field {
        display    : flex;
        align-items: center;
        height     : 73px;

        :first-child {
            width         : 280px;
            margin-left   : 49px;
            font-family   : noto-sans-500;
            font-size     : 13px;
            line-height   : 18px;
            // color      : #BDBDBD;
            color         : #9d9d9d;
        }

        :last-child {
            //     white-space  : nowrap;
            //     overflow     : hidden;
            //     text-overflow: ellipsis;
            max-width: 500px;
        }

        &.bio {
            min-height: 73px;
            height    : fit-content;
            padding   : 15px 0;
        }


    }



    // .edit {
    //     font-family  : noto-sans-500;
    //     border       : 1px solid #828282;
    //     border-radius: 12px;
    //     padding      : 6px 34px;
    //     margin-right : 49px;
    // align-self: flex-start;
    // }



    .img-con {
        height: 100px;
    }
}

.profile {
    font-size  : 24px;
    line-height: 33px;
}

.profile-sub {
    font-family: noto-sans-500;
    font-size  : 13px;
    line-height: 18px;
    color      : #828282;
}

.frame {
    border       : 1px solid #E0E0E0;
    border-radius: 12px;
    width        : 845px;
}


@media (max-width: $narrow-breakpoint) {
    .frame {
        border: none;
        width : 100vw;
    }

    .user-info {

        .frame {
            background-color: transparent;

            &.first {
                border-bottom: 1px solid #D3D3D3;
            }
        }

        .field {
            justify-content: space-between;

            div:first-child {
                width      : 100px;
                margin-left: 23px;
            }

            :last-child {
                margin-right: 23px;
            }

            &.bio {
                flex-direction: column;
                align-items   : flex-start;

                :first-child {
                    margin-bottom: 5px;
                }

                :last-child {
                    margin-left: 23px;
                }
            }
        }

        .profile-container {
            div:first-child {
                width      : auto;
                margin-left: 23px;
            }

            *> :last-child {
                margin-right: 23px;
            }

            a {
                margin-right: 0;
            }
        }

    }

}